<button class="btn btn-success btn-sm" (click)="onEditContractor()">Edit</button>
      <button class="btn btn-info btn-sm" (click)="onViewSubcontractors()">SubContractors</button>
      <button class="btn btn-info btn-sm" (click)="onViewReports()">Reports</button>
      <button class="btn btn-info btn-sm" (click)="onBatchPayroll()">Batch Payroll</button>
<hr>
<div class="panel-group" *ngIf="contractor">
  
  <div class="panel panel-default" >
  <div class="panel-heading"><strong>{{ contractor.firstName }} {{ contractor.surname }}</strong></div>
    <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Company</dt>
            <dd>{{contractor.companyName}}</dd>
            <dt>Address:</dt>
            <dd>{{ contractor.address }}, {{ contractor.town }}, {{contractor.county}}, {{ contractor.postcode }}</dd>
            <dt>Phone Number:</dt>
            <dd>{{ contractor.phone }}</dd>
            <dt>Mobile Number:</dt>
            <dd>{{ contractor.mobPhone }}</dd>
            <dt>Fax:</dt>
            <dd>{{ contractor.fax }}</dd>
            <dt>Email:</dt>
            <dd>{{ contractor.email }}</dd>
            <dt>UTR:</dt>
            <dd>{{ contractor.utr }}</dd>
            <dt>Fee:</dt>
            <dd>{{ contractor.fee | currency:'GBP':true}}</dd>
            <dt>TLC Ins:</dt>
            <dd>{{ contractor.tlcIns | currency:'GBP':true}}</dd>
            <dt>Payer Type:</dt>
            <dd>{{ contractor.payerType }}</dd>
          </dl>
      </div>
  </div>
  
  <div class="panel panel-default" >
  <div class="panel-heading">Notes</div>
    <div class="panel-body">
            <button class="btn btn-success btn-sm" data-target="#addNote" data-toggle="collapse">+</button>
            <br>
            <div id="addNote" class="collapse" >
              <textarea id="noteText" class="form-control" rows="5" [(ngModel)]="newNote"></textarea>
             <button *ngIf="newNote && newNote.length > 0" (click)="onAddNote()" class="btn btn-success btn-sm" data-toggle="collapse" data-target="#addNote">Add</button>
             <button class="btn btn-warning btn-sm" data-toggle="collapse" data-target="#addNote">Cancel</button>
             <br>
            </div>
          <div class="list-group small-restricted-height" >
            <app-contractor-note-item 
              *ngFor="let note of contractor.attachedNotes"
              [contractorNote]="note"
              ></app-contractor-note-item>
      </div>
      </div>
  </div>
  
  <div class="panel panel-default" >
  <div class="panel-heading">Attachments</div>
    <div class="panel-body">
        <button class="btn btn-success btn-sm" data-target="#addAttachment" data-toggle="collapse">+</button>
          <br>
          <div id="addAttachment" class="collapse" >
            <div style="display:inline-block">
            <input type="file" #myInput (change)="fileChange($event); myInput.value = ''" placeholder="Upload file" accept=".pdf,.doc,.docx,.txt">
            </div>
            <br>
          </div>
        </div>
        <div class="list-group small-restricted-height" >
          <app-contractor-attachment-item 
            *ngFor="let attachment of contractor.attachedFiles"
            [contractorAttachment]="attachment"
            [isContractor]="true"
            ></app-contractor-attachment-item>
      </div>
  </div>
  
</div>
