<div>
            <dl class="dl-horizontal">
                <dt>Date:</dt>
                <dd>{{contractorAttachment.a_date | date:'dd-MM-yyyy - hh:mm:ss'}}</dd>
                <dt>File:</dt>
                <dd>
                  {{contractorAttachment.fileName}}
                </dd>
                <dt></dt>
                <dd>
                  <div class="btn-group-xs">
<button class="btn btn-danger btn-xs"  type="button" (click)="onDelete()">Delete</button>
              <button class="btn btn-success btn-xs"  type="button" (click)="onOpen()">Open</button>
</div>
                </dd>
            </dl>
</div>


