<button class="btn btn-success btn-sm" (click)="onEditOwner()">Edit</button>
<hr>
<div class="panel-group" *ngIf="ownerItem">
  <div class="panel panel-default" >
    <div class="panel-heading">{{ ownerItem.owner_name }}</div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Address:</dt>
        <dd>{{ ownerItem.address }}, {{ ownerItem.town }}, {{ownerItem.county}}, {{ ownerItem.postcode }}, {{ ownerItem.country }}</dd>
        <dt>Phone Number:</dt>
        <dd>{{ ownerItem.telUK }}</dd>
        <dt>Fax:</dt>
        <dd>{{ ownerItem.faxUK }}</dd>
        <dt>Phone Overseas:</dt>
        <dd>{{ ownerItem.telOverseas }}</dd>
        <dt>Fax Overseas:</dt>
        <dd>{{ ownerItem.faxOverseas }}</dd>
      </dl>
    </div> 
  </div>
</div>