<button class="btn btn-success btn-sm" type="button" (click)="onSubmit(f)" [disabled]="!f.valid || !f.dirty">Update</button>
<!--<button class="btn btn-danger btn-sm"  type="button" (click)="onDelete()"  *ngIf="editMode">Delete</button>-->
<!--<button class="btn btn-primary btn-sm" type="button" (click)="onClear()" *ngIf="!editMode">Clear</button>-->
<hr> 
<div class="alert alert-success fade in" *ngIf="saveSuccess">
  <strong>{{ message }}</strong>
</div>
<div class="alert alert-danger fade in" *ngIf="recordError && !saveSuccess">
    <strong>{{ message }}</strong>
</div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
    <div class="panel-group restricted-height">
      <div class="panel panel-default">
        <div class="panel-heading">Details</div>
            <div class="panel-body">
              <div class="form-group">
                <label for="owner_name">Owner Name</label>
                <input type="text" id="owner_name" class="form-control" name="owner_name" ngModel required>
                <div *ngIf="!f.controls.owner_name?.valid && (f.controls.owner_name?.dirty || f.controls.owner_name?.touched)" class="alert alert-danger">
                  <div [hidden]="!f.controls.owner_name.errors.required">
                        Company Name is required!
                  </div>
                </div>
                <label for="address">Address</label>
                <input type="text" id="address" class="form-control" name="address" ngModel required>
                <div *ngIf="!f.controls.address?.valid && (f.controls.address?.dirty || f.controls.address?.touched)" class="alert alert-danger">
                      <div [hidden]="!f.controls.address.errors.required">
                            Addreaa is required!
                      </div>
                    </div>
                <label for="town">Town</label>
                <input type="text" id="town" class="form-control" name="town" ngModel>
                <label for="county">County</label>
                <input type="text" id="county" class="form-control" name="county" ngModel>
                <label for="postcode">Postcode</label>
                <input type="text" id="postcode" class="form-control" name="postcode" ngModel required pattern="^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? {1,2}[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$">
                <div *ngIf="!f.controls.postcode?.valid && (f.controls.postcode?.dirty || f.controls.postcode?.touched)" class="alert alert-danger">
                      <div [hidden]="!f.controls.postcode.errors.required">
                            Postcode is required!
                      </div>
                      <div [hidden]="!f.controls.postcode.errors.pattern">
                            Postcode must be a valid format!
                      </div>
                    </div>
                <label for="country">Country</label>
                <input type="text" id="country" class="form-control" name="country" ngModel>
                <label for="telUK">Phone UK</label>
                <input type="text" id="telUK" class="form-control" name="telUK" ngModel required minlength="8" maxlength="20" pattern="^[0-9]*$">
                <div *ngIf="!f.controls.telUK?.valid && (f.controls.telUK?.dirty || f.controls.telUK?.touched)" class="alert alert-danger">
                    <div [hidden]="!f.controls.telUK.errors.required">
                          Phone is required!
                    </div>
                    <div [hidden]="!f.controls.telUK.errors.minlength">
                          Phone number too short!
                    </div>
                    <div [hidden]="!f.controls.telUK.errors.pattern">
                          Phone number must be valid!
                    </div>
                </div>
                <label for="faxUK">Fax UK</label>
                <input type="text" id="faxUK" class="form-control" name="faxUK" ngModel required minlength="8" maxlength="20" pattern="^[0-9]*$">
                <div *ngIf="!f.controls.faxUK?.valid && (f.controls.faxUK?.dirty || f.controls.faxUK?.touched)" class="alert alert-danger">
                    <div [hidden]="!f.controls.faxUK.errors.required">
                          Phone is required!
                    </div>
                    <div [hidden]="!f.controls.faxUK.errors.minlength">
                          Phone number too short!
                    </div>
                    <div [hidden]="!f.controls.faxUK.errors.pattern">
                          Phone number must be valid!
                    </div>
                  </div>
                <label for="telOverseas">Phone Int</label>
                <input type="text" id="telOverseas" class="form-control" name="telOverseas" ngModel required minlength="8" maxlength="20" pattern="^[0-9]*$">
                <div *ngIf="!f.controls.telOverseas?.valid && (f.controls.telOverseas?.dirty || f.controls.telOverseas?.touched)" class="alert alert-danger">
                    <div [hidden]="!f.controls.telOverseas.errors.required">
                          Phone is required!
                    </div>
                    <div [hidden]="!f.controls.telOverseas.errors.minlength">
                          Phone number too short!
                    </div>
                    <div [hidden]="!f.controls.telOverseas.errors.pattern">
                          Phone number must be valid!
                    </div>
                  </div>
                <label for="faxOverseas">Fax Int</label>
                <input type="text" id="faxOverseas" class="form-control" name="faxOverseas" ngModel required minlength="8" maxlength="20" pattern="^[0-9]*$">
                <div *ngIf="!f.controls.faxOverseas?.valid && (f.controls.faxOverseas?.dirty || f.controls.faxOverseas?.touched)" class="alert alert-danger">
                    <div [hidden]="!f.controls.faxOverseas.errors.required">
                          Phone is required!
                    </div>
                    <div [hidden]="!f.controls.faxOverseas.errors.minlength">
                          Phone number too short!
                    </div>
                    <div [hidden]="!f.controls.faxOverseas.errors.pattern">
                          Phone number must be valid!
                    </div>
                  </div>
              </div>
            </div>
      </div>  
    </div>  
  </form>

