 <button
            class="btn btn-success btn-sm"
            type="button"
            (click)="onSubmit(f)"
            [disabled]="!f.valid || editMode && !f.dirty">{{ editMode ? 'Update' : 'Add' }}</button>
          <!-- <button
            class="btn btn-danger btn-sm"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode">Delete</button> -->
          <button class="btn btn-primary btn-sm" type="button" (click)="onClear()" *ngIf="!editMode">Clear</button>
      <hr>
<div class="alert alert-success fade in" *ngIf="saveSuccess">
    <strong>{{ message }}</strong>
</div>
<div class="alert alert-danger fade in" *ngIf="recordError && !saveSuccess">
    <strong>{{ message }}</strong>
</div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
    
    <div class="panel-group restricted-height">
      <div class="panel panel-default">
        <div class="panel-heading">Name</div>
            <div class="panel-body">
              <div class="form-group">
                <label for="companyName">Company Name</label>
                <input type="text" id="companyName" class="form-control" name="companyName" ngModel>
                <div *ngIf="!f.controls.companyName?.valid && (f.controls.companyName?.dirty || f.controls.companyName?.touched)" class="alert alert-danger">
                  <div [hidden]="!f.controls.companyName.errors.required">
                    Company Name is required!
                  </div>
                </div>
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" class="form-control" name="firstName" ngModel>
                <div *ngIf="!f.controls.firstName?.valid && (f.controls.firstName?.dirty || f.controls.firstName?.touched)" class="alert alert-danger">
                  <div [hidden]="!f.controls.firstName.errors.required">
                    First Name is required!
                  </div>
                </div>
                <label for="surname">Surname</label>
                <input type="text" id="surame" class="form-control" name="surname" ngModel>
                <div *ngIf="!f.controls.surame?.valid && (f.controls.surame?.dirty || f.controls.surame?.touched)" class="alert alert-danger">
                  <div [hidden]="!f.controls.surame.errors.required">
                    Surname is required!
                  </div>
                </div>
              </div>
            </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Address</div>
          <div class="panel-body">
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" id="address" class="form-control" name="address" ngModel>
              <div *ngIf="!f.controls.address?.valid && (f.controls.address?.dirty || f.controls.address?.touched)" class="alert alert-danger">
                <div [hidden]="!f.controls.address.errors.required">
                        Address is required!
                </div>
              </div>
              <label for="town">Town</label>
              <input type="text" id="town" class="form-control" name="town" ngModel>
              <label for="county">County</label>
              <input type="text" id="county" class="form-control" name="county" ngModel>
              <label for="postcode">Postcode</label>
              <input type="text" id="postcode" class="form-control" name="postcode" ngModel pattern="^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? {1,2}[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$">
              <div *ngIf="!f.controls.postcode?.valid && (f.controls.postcode?.dirty || f.controls.postcode?.touched)" class="alert alert-danger">
                <div [hidden]="!f.controls.postcode.errors.required">
                        Postcode is required!
                </div>
                <div [hidden]="!f.controls.postcode.errors.pattern">
                        Postcode must be a valid format!
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Contact</div>
          <div class="panel-body">
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" id="phone" class="form-control" name="phone" ngModel minlength="8" maxlength="20" pattern="^[0-9]*$">
              <div *ngIf="!f.controls.phone?.valid && (f.controls.phone?.dirty || f.controls.phone?.touched)" class="alert alert-danger">
                <div [hidden]="!f.controls.phone.errors.required">
                        Phone is required!
                </div>
                <div [hidden]="!f.controls.phone.errors.minlength">
                        Phone number too short!
                </div>
                <div [hidden]="!f.controls.phone.errors.pattern">
                        Phone number must be valid!
                </div>
              </div>
              <label for="mobPhone">Mobile</label>
              <input type="text" id="mobPhone" class="form-control" name="mobPhone" ngModel maxlength="20" pattern="^[0-9]*$">
              <div *ngIf="!f.controls.mobPhone?.valid && (f.controls.mobPhone?.dirty || f.controls.mobPhone?.touched)" class="alert alert-danger">
                <div [hidden]="!f.controls.mobPhone.errors.pattern">
                        Mobile Phone number must be valid!
                 </div>
              </div>
              <label for="fax">Fax</label>
              <input type="text" id="fax" class="form-control" name="fax" ngModel maxlength="20" pattern="^[0-9]*$">
              <div *ngIf="!f.controls.fax?.valid && (f.controls.fax?.dirty || f.controls.fax?.touched)" class="alert alert-danger">
                <div [hidden]="!f.controls.fax.errors.pattern">
                        Fax number must be valid!
                </div>
              </div>
              <label for="email">Email</label>
              <input type="text" id="email" class="form-control" name="email" ngModel [email]="f.controls.email?.value !=''">
              <div *ngIf="!f.controls.email?.valid && (f.controls.email?.dirty || f.controls.email?.touched)" class="alert alert-danger">
                <div [hidden]="!f.controls.email.errors.required">
                        Email is required!
                </div>
                <div [hidden]="!f.controls.email.errors.email">
                        Email must be valid!
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Deduction Details</div>
          <div class="panel-body">
            <div class="form-group">
              <label for="utr">UTR</label>
              <input type="text" id="utr" class="form-control" name="utr" ngModel minlength="10" maxlength="10" pattern="^[0-9]*$">
              <div *ngIf="!f.controls.utr?.valid && (f.controls.utr?.dirty || f.controls.utr?.touched)" class="alert alert-danger">
                <div [hidden]="!f.controls.utr.errors.minlength && !f.controls.utr.errors.pattern">
                        UTR must be 10 digits!
                </div>
              </div>
              <label for="nino">NINO</label>
              <input type="text" id="nino" class="form-control" name="nino" ngModel pattern="^(?!BG|GB|NK|KN|TN|NT|ZZ)[A-CEGHJ-PR-TW-Z][A-CEGHJ-NPR-TW-Z](?:\s*\d{2}){3}\s*[A-D]$">
              <div *ngIf="!f.controls.nino?.valid && (f.controls.nino?.dirty || f.controls.nino?.touched)" class="alert alert-danger">
                <div [hidden]="!f.controls.nino.errors.required && !f.controls.nino.errors.pattern">
                        NINO must be valid!
                </div>
              </div>
              <label for="companyRegNo">Company Reg No.</label>
              <input type="text" id="companyRegNo" class="form-control" name="companyRegNo" ngModel>
              <div *ngIf="!f.controls.companyRegNo?.valid && (f.controls.companyRegNo?.dirty || f.controls.companyRegNo?.touched)" class="alert alert-danger">
                <div [hidden]="!f.controls.companyRegNo.errors.required && !f.controls.companyRegNo.errors.pattern">
                        Company Reg No. must be valid!
                </div>
              </div>
              <label for="verificationNo">Verification No</label>
              <input type="text" id="verificationNo" class="form-control" name="verificationNo" ngModel required pattern="^[a-zA-Z0-9]*$">
              <div *ngIf="!f.controls.verificationNo?.valid && (f.controls.verificationNo?.dirty || f.controls.verificationNo?.touched)" class="alert alert-danger">
                <div [hidden]="!f.controls.verificationNo.errors.required && !f.controls.verificationNo.errors.pattern">
                        Verification No must be valid!
                </div>
              </div>
              <label for="deductionRate">Deduction Rate</label>
              <input type="text" id="deductionRate" class="form-control" name="deductionRate" ngModel required pattern="^\d{0,3}(?:\.\d{1,2})?$">
              <div *ngIf="!f.controls.deductionRate?.valid && (f.controls.deductionRate?.dirty || f.controls.deductionRate?.touched)" class="alert alert-danger">
                <div [hidden]="!f.controls.deductionRate.errors.required && !f.controls.deductionRate.errors.pattern">
                        Deduction Rate must be valid!
                </div>
              </div>
              <label for="vatRate">VAT Rate</label>
              <input type="text" id="vatRate" class="form-control" name="vatRate" ngModel required>
              <label for="services">Services</label>
              <input type="text" id="services" class="form-control" name="services" ngModel>
              <div *ngIf="!f.controls.services?.valid && (f.controls.services?.dirty || f.controls.services?.touched)" class="alert alert-danger">
                <div [hidden]="!f.controls.deductionRate.errors.required">
                        Services Information is required!
                </div>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  Active
                  <input class="form-check-input" id="active" type="checkbox" name="active" ngModel>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  Contract Recieved
                  <input class="form-check-input" id="contractRecd" type="checkbox" name="contractRecd" ngModel >
                </label>
              </div>
            </div>
          </div>
       </div>
    </div>
  </form>


