<button class="btn btn-success btn-sm" (click)="onEditSubContractor()">Edit SubContractor</button>
<button class="btn btn-info btn-sm" (click)="onViewPayroll()">View Payroll</button>
<button class="btn btn-info btn-sm" (click)="onViewReports()">Reports</button>
<button class="btn btn-info btn-sm" (click)="onViewContractor()">View Contractor</button>
<hr>
<div class="panel-group" *ngIf="subcontractor">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>{{ subcontractor.firstName }} {{ subcontractor.surname }}</strong></div>
      <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Company</dt>
            <dd>{{subcontractor.companyName}}</dd>
            <dt>Address:</dt>
            <dd>{{ subcontractor.address }}, {{ subcontractor.town }}, {{subcontractor.county}}, {{ subcontractor.postcode }}</dd>
            <dt>Phone Number:</dt>
            <dd>{{ subcontractor.phone }}</dd>
            <dt>Mobile Number:</dt>
            <dd>{{ subcontractor.mobPhone }}</dd>
            <dt>Fax:</dt>
            <dd>{{ subcontractor.fax }}</dd>
            <dt>Email:</dt>
            <dd>{{ subcontractor.email }}</dd>
            <dt>UTR:</dt>
            <dd>{{ subcontractor.utr }}</dd>
            <dt>Nino:</dt>
            <dd>{{ subcontractor.nino }}</dd>
            <dt>Verification No</dt>
            <dd>{{ subcontractor.verificationNo }}</dd>
            <dt>Deduction Rate</dt>
            <dd>{{ subcontractor.deductionRate }}</dd>
            <dt>VAT Rate</dt>
            <dd>{{ subcontractor.vatRate }}</dd>
            <dt>Services</dt>
            <dd>{{ subcontractor.services }}</dd>
            <dt>Active</dt>
            <dd>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="active" [(ngModel)]="subcontractor.active" disabled="true">
                </label>
              </div>
            </dd>
            <dt>Contract Recieved</dt>
            <dd>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="contractRecd" [(ngModel)]="subcontractor.contractRecd" disabled="true">
                </label>
              </div>
            </dd>
          </dl>
      </div>
    </div>

  <div class="panel panel-default" >
  <div class="panel-heading">Notes</div>
    <div class="panel-body">
            <button class="btn btn-success btn-sm" data-target="#addNote" data-toggle="collapse">+</button>
            <br>
            <div id="addNote" class="collapse" >
              <textarea id="noteText" class="form-control" rows="5" [(ngModel)]="newNote"></textarea>
             <button *ngIf="newNote && newNote.length > 0" (click)="onAddNote()" class="btn btn-success btn-sm" data-toggle="collapse" data-target="#addNote">Add</button>
             <button class="btn btn-warning btn-sm" data-toggle="collapse" data-target="#addNote">Cancel</button>
             <br>
            </div>
          <div class="list-group small-restricted-height" >
            <app-contractor-note-item 
              *ngFor="let note of subcontractor.attachedNotes"
              [contractorNote]="note"
              ></app-contractor-note-item>
      </div>
      </div>
  </div>
  
  <div class="panel panel-default" >
  <div class="panel-heading">Attachments</div>
    <div class="panel-body">
        <button class="btn btn-success btn-sm" data-target="#addAttachment" data-toggle="collapse">+</button>
          <br>
          <div id="addAttachment" class="collapse" >
            <div style="display:inline-block">
            <input type="file" #myInput (change)="fileChange($event); myInput.value = ''" placeholder="Upload file" accept=".pdf,.doc,.docx,.txt">
            </div>
            <br>
          </div>
        </div>
        <div class="list-group small-restricted-height" >
          <app-contractor-attachment-item 
            *ngFor="let attachment of subcontractor.attachedFiles"
            [contractorAttachment]="attachment"
            [isContractor]="false"
            ></app-contractor-attachment-item>
      </div>
  </div>
  
</div>