<div class="row">
  <button class="btn btn-success btn-sm" (click)="onNewSubContractor()">New SubContractor</button>
</div>
<hr>
<div class="row">
  <input type="text" id="inputDisplayName" class="form-control" [(ngModel)]="diplayNameFilter"/>
</div>
<div class="row">
  <div class="list-group restricted-height">
      <app-subcontractor-item 
        *ngFor="let contractorEl of subcontractorNames | filterDisplayNamePipe: diplayNameFilter"
        [subcontractorName]="contractorEl"
        ></app-subcontractor-item>
      </div>
</div>
