<button class="btn btn-success btn-sm" type="button" (click)="onSubmit(f)" [disabled]="!f.valid || editMode && !f.dirty">{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger btn-sm" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button class="btn btn-primary btn-sm" type="button" (click)="onClear()" *ngIf="!editMode">Clear</button>
          <button class="btn btn-primary btn-sm" (click)="onViewPayrolls()">View TimeSheets</button>
      <hr>
      <div class="alert alert-success fade in" *ngIf="saveSuccess">
    <strong>{{ message }}</strong>
</div>
<div class="alert alert-danger fade in" *ngIf="recordError && !saveSuccess">
    <strong>{{ message }}</strong>
</div>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
      <div class="panel-group restricted-height">
        <div class="panel panel-default">
          <div class="panel-heading">Dates</div>
              <div class="panel-body">
                <div *ngIf="editMode">
                  <label for="paymentDate">Payment Date</label>
                  <input type="date" id="paymentDate" class="form-control" name="paymentDate" [ngModel] ="paymentDate | date:'yyyy-MM-dd'" (ngModelChange)="paymentDate = $event"  required>
                  <label for="weekEnding">Week Ending</label>
                  <input type="date" id="weekEnding" class="form-control" name="weekEnding" [ngModel] ="weekEnding | date:'yyyy-MM-dd'" (ngModelChange)="weekEnding = $event" required>
                  <label for="monthEndingDate">Month Ending</label>
                  <input type="date" id="monthEndingDate" class="form-control" name="monthEndingDate" [ngModel] ="monthEndingDate | date:'yyyy-MM-dd'" (ngModelChange)="monthEndingDate = $event"  required>
                </div>
                <div *ngIf="!editMode">
                  <label for="paymentDate">Payment Date</label>
                  <input type="date" id="paymentDate" class="form-control" name="paymentDate" [ngModel] ="paymentDate | date:'yyyy-MM-dd'" (ngModelChange)="paymentDates($event)"  required>
                  <p><strong strong>Week Ending Date: </strong> {{weekEnding | date:'dd-MM-yyyy'}} </p>
                  <p><strong strong>Month Ending Date: </strong> {{monthEndingDate | date:'dd-MM-yyyy'}} </p>
                </div>
              </div>
        </div>
      
        <div class="panel panel-default">
              <div class="panel-heading">Rates</div>
                  <div class="panel-body">
                    <label for="deductionRate">Deduction Rate</label>
                      <input type="text" id="deductionRate" class="form-control" name="deductionRate" ngModel required pattern="^\d{0,3}(?:\.\d{1,2})?$">
                      <div *ngIf="!f.controls.deductionRate?.valid && (f.controls.deductionRate?.dirty || f.controls.deductionRate?.touched)" class="alert alert-danger">
                        <div [hidden]="!f.controls.deductionRate.errors.required && !f.controls.deductionRate.errors.pattern">
                                Deduction Rate must be valid!
                        </div>
                      </div>
                      <label for="vatRate">VAT Rate</label>
                      <input type="text" id="vatRate" class="form-control" name="vatRate" ngModel required pattern="^\d{0,3}(?:\.\d{1,2})?$">
                      <div *ngIf="!f.controls.vatRate?.valid && (f.controls.vatRate?.dirty || f.controls.vatRate?.touched)" class="alert alert-danger">
                        <div [hidden]="!f.controls.vatRate.errors.required && !f.controls.vatRate.errors.pattern">
                                VAT Rate must be valid!
                        </div>
                      </div>
                      <label for="fee">Fee</label>
                      <input type="text" id="fee" class="form-control" name="fee" ngModel required pattern="^\d{0,3}(?:\.\d{1,2})?$">
                      <div *ngIf="!f.controls.fee?.valid && (f.controls.fee?.dirty || f.controls.fee?.touched)" class="alert alert-danger">
                        <div [hidden]="!f.controls.fee.errors.required && !f.controls.fee.errors.pattern">
                                VAT Rate must be valid!
                        </div>
                      </div>
                  </div>
            </div>
      
      
         <div class="panel panel-default">
              <div class="panel-heading">Values</div>
                <div class="panel-body">
                  <label for="gross">Gross</label>
                    <input type="text" id="gross" class="form-control" name="gross" ngModel required pattern="^\d{0,8}(?:\.\d{1,2})?$">
                    <div *ngIf="!f.controls.gross?.valid && (f.controls.gross?.dirty || f.controls.gross?.touched)" class="alert alert-danger">
                        <div [hidden]="!f.controls.gross.errors.required && !f.controls.gross.errors.pattern">
                                Gross value must be valid!
                        </div>
                      </div>
                    <label for="materials">Materials</label>
                    <input type="text" id="materials" class="form-control" name="materials" ngModel required pattern="^\d{0,8}(?:\.\d{1,2})?$">
                    <div *ngIf="!f.controls.materials?.valid && (f.controls.materials?.dirty || f.controls.materials?.touched)" class="alert alert-danger">
                        <div [hidden]="!f.controls.materials.errors.required && !f.controls.materials.errors.pattern">
                                Materials value must be valid!
                        </div>
                      </div>
                    <!--<label for="totalDeductions">Total Deductions</label>
                    <input type="text" id="totalDeductions" class="form-control" name="totalDeductions" ngModel required>-->
                </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Values</div>
                <div class="panel-body">
                  <div>
                      <strong>Tax:</strong> {{ tax | currency:'GBP':true}}
                    </div>
                    <div>
                      <strong>VAT:</strong> {{ vat | currency:'GBP':true}}
                    </div>
                    <div>
                      <strong>Nett:</strong> {{ nett | currency:'GBP':true}}
                    </div>
                </div>
            </div>
        <div class="panel panel-default">
              <div class="panel-heading">Status</div>
                <div class="panel-body">
                  <div class="form-check">
                      <label class="form-check-label">
                        Locked
                        <input class="form-check-input" id="locked" type="checkbox" name="locked" ngModel>
                      </label>
                    </div>
                </div>
            </div>
      </div>
    </form>

