  <button class="btn btn-success btn-sm" type="button" (click)="onSubmit(f)" [disabled]="!f.valid || !f.dirty">Submit</button>
  <button class="btn btn-primary btn-sm" (click)="reloadItems()">Reload</button>
  <button class="btn btn-primary btn-sm" (click)="onViewContractor()">View Contractor</button>
      <hr>
  <div class="panel-group restricted-height">
    <div class="panel panel-default">
      <div class="panel-heading">Batch Entry</div>
      <div class="panel-body">
        
          <form class="form-inline">
            <strong><label for="paymentDate">Payment Date:</label> </strong>
            <input type="date" id="paymentDate" class="form-control" name="paymentDate" [ngModel] ="paymentDate | date:'yyyy-MM-dd'" (blur)="paymentDates($event.target.value)">
          </form>
        
         <!--<p><strong>Payment Date: </strong> {{paymentDate | date:'dd-MM-yyyy'}} </p>-->
         <!-- <p><strong strong>Week Ending Date: </strong> {{weekEnding | date:'dd-MM-yyyy'}} </p> -->

         <form class="form-inline">
            <strong><label for="weekEnding">Week Ending Date: </label> </strong>
            <input type="date" id="weekEnding" class="form-control" name="weekEnding" [ngModel] ="weekEnding | date:'yyyy-MM-dd'" (blur)="weekEndingOveride($event.target.value)">
          </form>
         <p><strong strong>Month Ending Date: </strong> {{monthEndingDate | date:'dd-MM-yyyy'}} </p>
  
        <input type="text" id="inputDisplayName" placeholder="Job Filter" class="form-control" [(ngModel)]="jobNameFilter"/>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Job Ref</th>
              <th>Deduction Rate</th>
              <th>VAT Rate</th>
              <th>Gross</th>
              <th>Materials</th>
              <th>Fee</th>
              <th>Tax</th>
              <th>Vat</th>
              <th>Net</th>
              <th>Deductions</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of payrollItems | filterJobNamePipe: jobNameFilter" [class.success]="item.saveSuccess" [class.danger]="item.recordError">
                <td>
                  {{item.subName}}<!-- {{GetSubcontractorName(item.s_ID)}} -->
                </td>
                <td>
                  {{item.jobName}}
                </td>
                <td>
                  <input type="text" ngModel="{{item.deductionRate}}" [attr.id]="'deductionRate_' + item.s_ID" [attr.disabled]="item.saveSuccess?'':null" class="form-control input-sm" name="deductionRate_{{item.s_ID}}" ngModel required pattern="^\d{0,3}(?:\.\d{1,2})?$">
                      <div *ngIf="!f.controls['deductionRate_' + item.s_ID]?.valid && (f.controls['deductionRate_' + item.s_ID]?.dirty || f.controls['deductionRate_' + item.s_ID]?.touched)" class="alert alert-danger">
                        <div [hidden]="!f.controls['deductionRate_' + item.s_ID].errors.required && !f.controls['deductionRate_' + item.s_ID].errors.pattern">
                                Deduction Rate must be valid!
                        </div>
                      </div>
                </td>
                <td>
                  <input type="text" ngModel="{{item.vatRate}}" [attr.id]="'vatRate_' + item.s_ID" [attr.disabled]="item.saveSuccess?'':null" class="form-control input-sm" name="vatRate_{{item.s_ID}}" ngModel required pattern="^\d{0,3}(?:\.\d{1,2})?$">
                      <div *ngIf="!f.controls['vatRate_' + item.s_ID]?.valid && (f.controls['vatRate_' + item.s_ID]?.dirty || f.controls['vatRate_' + item.s_ID]?.touched)" class="alert alert-danger">
                        <div [hidden]="!f.controls['vatRate_' + item.s_ID].errors.required && !f.controls['vatRate_' + item.s_ID].errors.pattern">
                                VAT Rate must be valid!
                        </div>
                      </div>
                </td>
                <td>
                  <input type="text" ngModel="{{item.gross}}" [attr.id]="'gross_' + item.s_ID" [attr.disabled]="item.saveSuccess?'':null" class="form-control input-sm" name="gross_{{item.s_ID}}" required pattern="^\d{0,8}(?:\.\d{1,2})?$">
                    <div *ngIf="!f.controls['gross_' + item.s_ID]?.valid && (f.controls['gross_' + item.s_ID]?.dirty || f.controls['gross_' + item.s_ID]?.touched)" class="alert alert-danger">
                        <div [hidden]="!f.controls['gross_' + item.s_ID]?.errors.required && !f.controls.gross.errors.pattern">
                                Gross value must be valid!
                        </div>
                      </div>
                </td>
                <td><input type="text" ngModel="{{item.materials}}" [attr.id]="'materials_' + item.s_ID" [attr.disabled]="item.saveSuccess?'':null" class="form-control input-sm" name="materials_{{item.s_ID}}" required pattern="^\d{0,8}(?:\.\d{1,2})?$">
                    <div *ngIf="!f.controls['materials_' + item.s_ID]?.valid && (f.controls['materials_' + item.s_ID]?.dirty || f.controls['materials_' + item.s_ID]?.touched)" class="alert alert-danger">
                        <div [hidden]="!f.controls['materials_' + item.s_ID].errors.required && !f.controls['materials_' + item.s_ID].errors.pattern">
                                Materials value must be valid!
                        </div>
                      </div>
                </td>
                <td>
                  <input type="text" ngModel="{{item.fee}}" [attr.id]="'fee_' + item.s_ID" [attr.disabled]="item.saveSuccess?'':null" class="form-control input-sm" name="fee_{{item.s_ID}}" ngModel required pattern="^\d{0,3}(?:\.\d{1,2})?$">
                      <div *ngIf="!f.controls['fee_' + item.s_ID]?.valid && (f.controls['fee_' + item.s_ID]?.dirty || f.controls['fee_' + item.s_ID]?.touched)" class="alert alert-danger">
                        <div [hidden]="!f.controls['fee_' + item.s_ID].errors.required && !f.controls['fee_' + item.s_ID].errors.pattern">
                                Fee must be valid!
                        </div>
                      </div>
                </td>
                <td>
                  {{ item.tax | currency:'GBP':true}}
                </td>
                <td>
                  {{ item.vat | currency:'GBP':true}}
                </td>
                <td>
                  {{ item.nett | currency:'GBP':true}}
                </td>
                <td>
                  <div>{{ item.totalDeductions | currency:'GBP':true}}</div>
                  <div *ngIf="!item.saveSuccess">
                      <button class="btn btn-success btn-sm" type="button" [attr.data-target]="'#addDeduction' + item.s_ID" data-toggle="collapse">+</button>
                      <br>
                      <div [attr.id]="'addDeduction' + item.s_ID" class="collapse" >
                        <input [attr.id]="'dAmount_' + item.s_ID" name="dAmount_{{item.s_ID}}" class="form-control" [(ngModel)]="newDeduction.amount">
                        <textarea [attr.id]="'dDescription_' + item.s_ID" name="dDescription_{{item.s_ID}}"  class="form-control" rows="5" [(ngModel)]="newDeduction.description"></textarea>
                        <button *ngIf="newDeduction && newDeduction.description.length > 0 && newDeduction.amount > 0" type="button" (click)="onAddDeduction(item)" class="btn btn-success btn-sm" data-toggle="collapse" [attr.data-target]="'#addDeduction' + item.s_ID">Add</button>
                        <button class="btn btn-warning btn-sm" type="button" data-toggle="collapse" [attr.data-target]="'#addDeduction' + item.s_ID">Cancel</button>
                        <br>
                      </div>
                  </div>
                  <div class="small-restricted-height" *ngIf="!item.saveSuccess">
                      <app-payroll-batch-deduction-item *ngFor="let deduction of item.deductions" [payrollDeduction]="deduction" (deleteDeduction)="onDeleteDeduction($event, item)"></app-payroll-batch-deduction-item>
                  </div>
                </td>
                <td>
                  <button class="btn btn-danger btn-sm" type="button" (click)="removeItem(item)" *ngIf="!item.saveSuccess">Delete</button>
                  <div class="alert alert-success fade in" *ngIf="item.saveSuccess">
                      <strong><small>{{ item.message }}</small></strong>
                  </div>
                  <div class="alert alert-danger fade in" *ngIf="item.recordError && !item.saveSuccess">
                      <strong><small>{{ item.message }}</small></strong>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Totals:</td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>{{ totalGross | currency:'GBP':true}}</strong></td>
                <td><strong>{{ totalMaterials | currency:'GBP':true}}</strong></td>
                <td><strong>{{ totalFees | currency:'GBP':true}}</strong></td>
                <td><strong>{{ totalTax | currency:'GBP':true}}</strong></td>
                <td><strong>{{ totalVat | currency:'GBP':true}}</strong></td>
                <td><strong>{{ totalNett | currency:'GBP':true}}</strong></td>
                <td></td>
                <td></td>
              </tr>
          </tbody>
        </table>
          </div>
        </form>
        <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of excludedPayrollItems;let i = index;">
                <td>
                  {{GetSubcontractorName(item.s_ID)}}
                </td>
                <td>
                  <button class="btn btn-primary btn-sm" type="button" (click)="reAddItem(item)">Add</button>
                </td>
              </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
