

<div class="container"> 
<div class="row">
  <div class="col-md-12">
    <app-header></app-header>
</div>    
</div>
  <div class="row">
    <div class="col-md-12">
    <router-outlet></router-outlet>
    </div>    
  </div>

  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
<!--
<table class="table table-bordered" height="100vh" width="auto">
  
  <tbody>
    <tr>
      <td>
        <app-header></app-header>
        
      </td>
    </tr>
    <tr>
      <td>
        <router-outlet></router-outlet>
        
      </td>
    </tr>
  </tbody>
</table>
-->