
<div class="container-fluid">
    <div class="row" *ngIf="showTimesheets">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success btn-sm" (click)="onNewPayroll()">New Timesheet</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h1>Timesheets</h1></div>
                        <table class="table table-striped table-hover table-bordered" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                           [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                            <thead>
                        <tr>
                            <th style="width: 20%">
                                <mfDefaultSorter by="paymentDate">Payment Date</mfDefaultSorter>
                            </th>
                            <th style="width: 20%">
                                <mfDefaultSorter by="weekEnding">Week Ending</mfDefaultSorter>
                            </th>
                            <th style="width: 20%">
                                <mfDefaultSorter by="monthEndingDate">Month Ending</mfDefaultSorter>
                            </th>
                            <th style="width: 20%">
                                <mfDefaultSorter by="gross">Gross</mfDefaultSorter>
                            </th>
                            <th style="width: 20%"></th>
                        </tr>
                        <!--<tr>-->
                        <!--    <th colspan="5">-->
                        <!--        Filter by name:-->
                        <!--        <input class="form-control" [(ngModel)]="filterQuery"/>-->
                        <!--    </th>-->
                        <!--</tr>-->
                        </thead>
                            <tbody>
                                <tr *ngFor="let item of mf.data; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                            <td>{{item.paymentDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{item.weekEnding | date:'dd-MM-yyyy'}}</td>
                            <td>{{item.monthEndingDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{item.gross | currency:'GBP':true}}</td>
                            <td>
                                
                                <button (click)="viewItem(item)" class="btn btn-info btn-sm">View</button>
                                <button (click)="removeItem(item)" class="btn btn-danger btn-sm">Delete</button>
                            </td>
                        </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>