<div class="container">
<div class="row">
  <div class="col-md-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Contractor <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditSubContractor()">Edit SubContractor</a></li>
        <li><a style="cursor: pointer;">Delete SubContractor</a></li>
      </ul>
      
      <button class="btn btn-success" (click)="onViewPayroll()">View Payroll</button>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12" class="pre-scrollable">
    <div align="center">
      <h1 >{{ subcontractor.firstName }} {{ subcontractor.surname }}</h1>
    </div>
    <form class="form-horizontal" role="form">
      <div class="control-group">
          <label for="companyName" class="control-label col-sm-2">Company</label>
          
            <p class="form-control-static">{{subcontractor.companyName}}</p>
          
      </div>
      <div class="control-group">
          <label for="address" class="control-label col-sm-2">Address:</label>
          
              <p class="form-control-static">{{ subcontractor.address }}, {{ subcontractor.town }}, {{subcontractor.county}}, {{ subcontractor.postcode }} </p>
          
      </div>
      <div class="control-group">
          <label for="phoneNumber" class="control-label col-sm-2">Phone Number:</label>
          
              <p class="form-control-static">{{ subcontractor.phone}}</p>
          
      </div>
      <div class="control-group">
          <label for="mobPhone" class="control-label col-sm-2">Mobile Number:</label>
          
              <p class="form-control-static">{{ subcontractor.mobPhone}}</p>
          
      </div>
      <div class="control-group">
          <label for="fax" class="control-label col-sm-2">Fax:</label>
          
              <p class="form-control-static">{{ subcontractor.fax}}</p>
          
      </div>
      <div class="control-group">
          <label for="email" class="control-label col-sm-2">Email:</label>
          
              <p class="form-control-static">{{ subcontractor.email}}</p>
          
      </div>
      <div class="control-group">
          <label for="utr" class="control-label col-sm-2">UTR:</label>
          
              <p class="form-control-static">{{ subcontractor.utr}}</p>
          
      </div>
      <div class="control-group">
          <label for="nino" class="control-label col-sm-2">Nino:</label>
          
              <p class="form-control-static">{{ subcontractor.nino}}</p>
          
      </div>
      <div class="control-group">
          <label for="verificationNo" class="control-label col-sm-2">Verification No:</label>
          
              <p class="form-control-static">{{ subcontractor.verificationNo}}</p>
          
      </div>
      <div class="control-group">
          <label for="deductionRate" class="control-label col-sm-2">Deduction Rate:</label>
          
              <p class="form-control-static">{{ subcontractor.deductionRate}}</p>
          
      </div>
       <div class="control-group">
          <label for="vatRate" class="control-label col-sm-2">VAT Rate:</label>
          
              <p class="form-control-static">{{ subcontractor.vatRate}}</p>
          
      </div>
      <div class="control-group">
          <label for="services" class="control-label col-sm-2">Services:</label>
          
              <p class="form-control-static">{{ subcontractor.services}}</p>
          
      </div>
      <div class="control-group">
          <label for="active" class="control-label col-sm-2">Active:</label>
          
              <p class="form-control-static">{{ subcontractor.active}}</p>
          
      </div>
      <div class="control-group">
          <label for="contractRecd" class="control-label col-sm-2">ContractRecd:</label>
          
              <p class="form-control-static">{{ subcontractor.contractRecd}}</p>
          
      </div>
    </form>
  </div>
</div>

</div>

